#homescreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

#homescreen h1 {
    margin-bottom: 50px;
}

#practiceMode {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;
    margin: 0;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

#practiceMode h1 {
    margin-bottom: 50px;
}

#challengeSelect {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

#challengeEnd {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

.button {
    display: inline-block;
    border-radius: 12px;
    background-color: #008CBA;
    border: none;
    color: white;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 275px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button:hover {
    transform: scale(1.1);
}

.settings-icon {
    position: absolute;
    top: -30px;
    right: 10px;
    font-size: 50px;
    cursor: pointer;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.checkbox-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.checkbox-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spacer {
    width: 100px;
    height: auto;
    flex-shrink: 0;
}

#practiceMode {
    display: none;
}

.info-block {
    position: absolute;
    top: 10px;
    left: 20px;
}

.info-block h3 {
    margin-bottom: 5px; 
    font-size: 28px;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

#feedback {
    font-size: 24px;
    opacity: 0;
}

@keyframes fadeOut {
    0% { opacity: 1; }
  100% { opacity: 0; }
}

.animate {
    animation-name: fadeOut;
    animation-duration: 2000ms;
}

#challengeSelect {
    display: none;
}

.center {
    text-align: center;
}

.button-row {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.button-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#challengeEnd {
    display :none;
}


