#homescreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 98vh;
    margin: 0;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

#homescreen h1 {
    margin-bottom: 6vh;
    font-size: min(5.5vh, 3.3vw);
}

#practiceMode {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 97vh;
    margin: 0;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

#practiceMode h1 {
    margin-bottom: 50px;
    font-size: min(5vh, 3vw);
}


#challengeSelect {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 96vh;
    margin: 0;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

#challengeEnd {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 98vh;
    margin: 0;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

.button {
    display: inline-block;
    border-radius: 12px;
    background-color: #008CBA;
    border: none;
    color: white;
    text-align: center;
    font-size: min(4vh, 2.5vw);
    padding: min(3vh, 1.5vw);
    width: max(17vw, 150px);
    transition: all 0.5s;
    cursor: pointer;
    margin: min(1vh, 1vw);
}

.button:hover {
    transform: scale(1.1);
}

.settings-icon {
    position: absolute;
    top: -30px;
    right: 10px;
    font-size: min(8.5vh, 5.75vw);
    cursor: pointer;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: max(80%, 800px);
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.checkbox-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.checkbox-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkbox-row {
    margin: 2px;
}

.spacer {
    width: 5vw;
    height: auto;
    flex-shrink: 0;
}

#practiceMode {
    display: none;
}

.info-block {
    position: absolute;
    top: 10px;
    left: 20px;
}

.info-block h3 {
    margin-bottom: 1vh; 
    font-size: min(4vh, 2.4vw);
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: min(3vh, 2vw);
    column-gap: min(3vh, 1.5vw);
}

#feedback {
    font-size: 4vh;
    margin-top: 1.5vh;
    opacity: 0;
}

@keyframes fadeOut {
    0% { opacity: 1; }
  100% { opacity: 0; }
}

.animate {
    animation-name: fadeOut;
    animation-duration: 2000ms;
}

#challengeSelect {
    display: none;
}

.center {
    text-align: center;
}

.button-row {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.button-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-block h2 {
    font-size: min(4vh, 2vw);
}


#challengeModeInstructions {
    font-size: min(3vh, 2vw);
}

#challengeEnd {
    display: none;
}

#challengeEnd h1 {
    font-size: min(5vh, 3vw);
}

#challengeEnd h2 {
    font-size: min(4vh, 2vw);
}

