.score {
    display: flex;
    align-items: center;
    margin-bottom: -30px;
}
  
.score label {
    font-family: Arial, sans-serif;
    font-weight: bold; 
    margin-right: 10px;
}
  
.score h3 {
    font-family: Arial, sans-serif;
  
}

#questionsAndAnswers{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

#settings{
    position: absolute;
    top: -50px;
    right: 50px;
}


#answerButtons button{
    width: 100px;
}